{% extends 'projects/project_base.html' %}

{% block preproject %}
<h1>I'm here</h1>
<div class="col-md-4">
  {% if user.is_authenticated %}
  <div class="card card-with-shadow">
    <div class="content">
      <a class="btn btn-primary btn-large" href="{% url 'projects:new' %}"><span class="glyphicon glyphicon-plus-sign">Create</span></a>
<!--     <h1 class="title">Your Groups</h1>
        {% for member_group in get_user_groups %}
        <ul class="list-unstyled">
          <li class="group li-with-bullet"><a href="{% url 'groups:single' slug=member_group.group.slug %}"></a></li>
            {% endfor %}
        </ul>-->

    </div>

  </div>
  {% endif %}
<!--  <div class="card card-with-shadow">
    <div class="content">
      <h1 class="title">Other Groups</h1>
        {% for other_group in get_other_groups %}
        <ul class="list-unstyled">
          <li class="group li-with-bullet"><a href="{% url 'groups:single' slug=member_group.group.slug %}"></a></li>
            {% endfor %}
        </ul>

    </div>

  </div> -->


</div>


<div class="col-md-8">
  {% for project in project_all %}
  {% include 'projects/_project.html' %}
  {% endfor %}
</div>
{% endblock %}
